{% extends 'navbar.html' %}

<!DOCTYPE html>
<html>
<head>
    <title>Available Lockers</title>
</head>
<body>
    {% block content %}
    <div style="padding-left: 20px; padding-right: 20px;">
        <br><h1>Available Lockers</h1><br>

        <ul>
            {% for casillero in casilleros %}
                <li>
                    Locker ID: {{ casillero.id }}<br>
                    Size: {{ casillero.tamano }}<br>
                    Status:
                    {% if casillero.disponible == 'D' %}Disponible
                    {% elif casillero.disponible == 'R' %}Reservado
                    {% elif casillero.disponible == 'C' %}Confirmado
                    {% elif casillero.disponible == 'A' %}Cargado{% endif %}

                    {% if casillero.disponible == 'D' %}
                    <form action="{% url 'reservar_casillero' %}" method="post" style="display: inline;">
                        {% csrf_token %}
                        <input type="hidden" name="api_key" value="{{ api_key }}">
                        <input type="hidden" name="casillero_id" value="{{ casillero.id }}">
                        <br><button type="submit" class="btn btn-success">Reservar</button>
                    </form>
                    {% endif %}
                    {% if casillero.disponible == 'A' %}
                    <form action="{% url 'liberar_casillero' %}" method="post" style="display: inline;">
                        {% csrf_token %}
                        <input type="hidden" name="casillero_id" value="{{ casillero.id }}">
                        <br><button type="submit" class="btn btn-primary">Retirar</button>

                    </form>
                    {% endif %}
                </li>
                <hr>
            {% empty %}
                <p>No lockers found.</p>
            {% endfor %}
        </ul>
    </div>
    {% endblock %}
</body>
</html>
