{% extends 'navbar.html' %}

<!DOCTYPE html>
<html>
<head>
    <title>Liberar Casillero</title>
</head>
<body>
    {% block content %}
    <div style="text-align: center;">
        <br><h1 style="color: goldenrod;">Confirmar retiro del casillero: {{ casillero_id }}</h1>
        <h2 style="color: orangered;">Para confirar la resepcion de su producto, ingrese la clave</h2>
        <p>Clave: {{ clave }}</p>

        <a href="{% url 'casilleros_lista' %}" class="btn btn-primary">Volver a la lista de casilleros disponibles</a>
    </div>
    <div id="content2">
        {% include 'check_clave_l.html' %}
    </div>
    {% endblock %}
</body>
</html>
